.customeyes-files .single-item:not(:first-child) {
    text-align: right;
    position: relative;
    min-height: 24px;
}

.customeyes-files .single-item:not(:first-child) a {
    text-align: left;
    position: absolute;
    left: 0;
    min-height: 24px;
    padding-top: 3px;
}

.customeyes-files {
    white-space: unset;
}

.customeyes-files .size {
    width: 5em;
    display: inline-block;
    padding-top: 3px;
}

.customeyes-toolbar {
    color: #cfcfcf;
    background-color: #2f3136;
    padding: 1em 1em;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
    display: flex;
}

.customeyes-toolbar .option-group {
    display: inline-block;
    margin: 0 2em 0 0;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.customeyes-toolbar input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.customeyes-toolbar input[type="checkbox"]:checked + label::after {
    display: block;
}

.customeyes-toolbar label {
    cursor: pointer;
    position: relative;
}

.customeyes-toolbar label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 0.4em;
    position: relative;
    top: -1px;
    border: 2px solid #616f80;
}

.customeyes-toolbar label::after {
    display: none;
    content: 'x';
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 16px;
    font-size: 16px;
    line-height: 0.9;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    
}

.customeyes-files.icons-enabled .single-item:not(:first-child) a {
    padding-left: 32px;
}

.customeyes-files.icons-enabled .customeyes-icon {
    display: block;
}

.customeyes-icon {
    display: none;
    text-align: center;
    width: 100%;
    max-width: 24px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.colored-icons .customeyes-icon {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.customeyes-files .name {
    width: auto;
    max-width: calc(100% - 15em);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
    display: block;
}

.customeyes-files .name:hover,
.customeyes-files .name:focus {
    overflow-x: visible;
    background: #2f3136;
    z-index: 10;
    max-width: none;
    padding-right: 0.75em;
}

.customeyes-files.focus-highlight .single-item:hover,
.customeyes-files.focus-highlight .single-item:focus,
.customeyes-files.focus-highlight .name:hover,
.customeyes-files.focus-highlight .name:focus {
    background-color: #36393e;
}

.customeyes-files.focus-highlight .focus {
    background-color: #36393e;
}

.customeyes-files .directory .size {
    color: transparent;
}

html.bookmarks-enabled .bookmark {
    display: block;
}

html.bookmarks-enabled .customeyes-files .single-item:not(:first-child) a {
    padding-left: 28px;
}

html.bookmarks-enabled .customeyes-files.icons-enabled .single-item:not(:first-child) a {
    padding-left: 58px;
}

html.bookmarks-enabled .customeyes-files.icons-enabled .customeyes-icon {
    left: 26px;
}

.bookmark {
    display: none;
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 20;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.bookmark span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.bookmark:focus {
    outline: 0;
}

.bookmark::before {
    content: '\2606';
    color: #999;
}

.bookmark:hover::before,
.bookmark:focus::before {
    color: #eee;
}

.bookmark.added::before {
    content: '\2605';
}

.colored-icons .bookmark.added::before {
    color: #ffca28;
}

html.show-bookmarks-list .bookmarks-list {
    display: block;
}

.bookmarks-list {
    display: none;
    position: relative;
    color: #cfcfcf;
    background-color: #2f3136;
    padding: 1em;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
    margin-top: 1em;
}

.bookmarks-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 10em;
    overflow-y: auto
}

.bookmark-item {
    margin: 0 0 0.5em 0;
}

.bookmark-item .name {
    margin: 0;
}

.bookmark-item .url {
    font-size: 14px;
    opacity: 0.5;
}

.bookmark-item .url a {
    border: 0;
}

.settings-group {
    margin-right: 2em;
}

.settings-group h3 {
    font-size: 16px;
    margin-bottom: 0.5em;
}
